@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas: "a" "b" "c";
  height: 100vh;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 30% 50% 20%;
}

menu {
  grid-area: menu;
}
.item-a {
  grid-area: a;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item-b {
  grid-area: b;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-c {
  grid-area: c;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select {
  padding: 4px;
}
.item-a #itemimg {
  width: 150px;
  height: 150px;
  border: solid 2px;
  border-color: "";
  cursor: pointer;
}
.mensaje {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 10px;
  width: 220px;
  margin-left: 10px;
}

button {
  border-radius: 5px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}
.container-b {
}
.bt2 {
  margin-top: 20px;
}

.p2 {
  margin-top: 10px;
  font-size: 20px;
}
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 2px;
}
.bt-item2 {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.item-1 {
  grid-area: 1;
  background: url("../img/imgiten1.jpg");
  width: 220px;
  height: 200px;
  background-size: cover;
  margin-left: 10px;
}
.item-2 {
  grid-area: 2;
  background: url("../img/imgiten2.jpg");
  width: 220px;
  height: 200px;
  background-size: cover;
  margin-left: 10px;
}
.item-3 {
  grid-area: 3;
  background: url("../img/imgiten3.jpg");
  width: 220px;
  height: 200px;
  background-size: cover;
  margin-left: 10px;
}
